/* import fonts Space Mono & Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset CSS attributes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BEGIN header by Daniel */
header {
  display: inline-flex;
  padding: 15px 60px;
}

.logo img {
  width: 60%;
}

.navbar {
  width: 800px;
}

.navbar ul {
  display: inline-flex;
  list-style: none;
  float: right;
}

.navbar ul li {
}

.navbar ul li a {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgb(127, 127, 127);
  text-decoration: none;
  padding: 20px;
  margin: 0 20px;
}

.navbar ul li a:hover {
  color: black;
  border-bottom: 3px solid rgb(74, 80, 187);
}
/* END header by Daniel */
