/* import fonts Space Mono & Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset CSS attributes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BEGIN general text attributes by Daniel */

h1 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}

p {
  color: white;
  text-align: left;
  max-width: 500px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px 0px 20px;
  font-weight: 300;
}
/* END general text attributes by Daniel */

/* BEGIN header by Daniel */
header {
  display: flex;
  padding: 15px 60px;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 95px;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
  cursor: pointer;
  align-items: center;
}

.navbar ul li a {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 0.77em;
  text-transform: uppercase;
  color: rgb(127, 127, 127);
  text-decoration: none;
  padding: 10px;
  margin-left: 30px;
  /* margin: 0 20px; */
}

.navbar ul li a:hover {
  color: black;
  border-bottom: 3px solid rgb(74, 80, 187);
}
/* END header by Daniel */

/* BEGIN background banner by senait */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/HackYourFutureBelgium/hackyourfuture.be/main/src/assets/images/home-header.jpg");
  display: flex;
  width: 100%;
  height: 40%;
  padding: 50px 20px;
  background-position: center;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.text-box {
  display: flex;
  margin: 60px 0px 30px;
  align-items: center;
  max-width: 800px;
}

.text {
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  max-width: none;
}

/* END background banner 1 by Senait */

/* Starting of section 1 by Moamin*/

.flex {
  display: flex;
  position: relative;
  padding-top: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.section1 .text {
  margin: 0;
  padding: 10px 30px;
  font-family: "Space Mono";
  display: grid;
  flex-direction: column;
  align-content: flex-start;
}

.section1 h2 {
  padding: 10px 0;
  font-family: "Work Sans", sans-serif;
  color: rgb(74, 80, 187);
  text-transform: uppercase;
  font-size: 2rem;
  text-align-last: left;
}

.section1 p {
  padding: 10px 0;
  color: rgb(45, 48, 55);
  text-align: left;
  font-size: 0.95rem;
  line-height: 25px;
  text-align: justify;
}

.section1Btn {
  margin: 5px 0 0 -30px;
  padding: 0 20px 0 30px;
  text-align: left;
  text-transform: uppercase;
  color: rgb(74, 80, 187);
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
  max-width: max-content;
}

.section1Btn:hover {
  background-color: rgba(223, 219, 219, 0.904);
  cursor: pointer;
}

.section1 span {
  color: rgb(74, 80, 187);
}

/* section 2 image*/
.section2 {
  width: 50%;
}
.section1 img {
  float: right;
  width: 500px;
  padding: 0 10px;
  margin: 0 10px;
}

/* End of section 1 and section 2*/

/* BEGIN section-3 by Tatsiana */
.sc-3 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}
.container3 {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}
.content {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 50px;
  margin-bottom: 50px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 0px 0px 50px;
}
.titlesc-3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.textsc-3 {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 800px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.descriptionsc-3 {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.descr-1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 80, 187);
  width: 30%;
  padding: 20px;
}
.desc-title {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}
.desc-text {
  color: white;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/* END section-3 by Tatsiana*/

/*BEGIN section 4 by senait */
.section4 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 50px 0px;
  position: relative;
}

.s4border {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px;
}

.s4container {
  display: flex;
  background-color: rgb(248, 249, 252);
  padding: 100px;
  flex-direction: column;
}

.s4title {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
}

.textblock {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.texts4 {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}

.imgsec4-1,
.imgsec4-2,
.imgsec4-3,
.imgsec4-4 {
  margin-bottom: 20px;
  min-height: 70px;
  object-fit: contain;
}

.sec4-P1,
.sec4-P2,
.sec4-P3,
.sec4-p4 {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.s4h3 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

/* END section 4 by senait */

/* BEGIN section5 by Daniel */

.section5 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
}

.section5 .container {
}

.section5 .frame {
  display: flex;
  justify-items: center;
  min-height: 500px;
  position: relative;
}

.section5buttonleft:hover {
  transform: translateY(-50%) scale(1.2);
}

.section5buttonright:hover {
  transform: translateY(-50%) scale(1.2);
}

.testimonials {
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  transform: translateX(0%);
  transition: transform 0.3s ease 0s;
}

.testimonial1 {
  width: 50%;
  max-width: 100%;
  min-height: 500px;
  opacity: 1;
  transition: all 0.3s ease 0s;
  transform: none;
  text-align: center;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 50px;
}

.zeynep {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: auto auto 20px;
  background-position: center center;
  filter: grayscale(100%);
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 0;
  position: static;
  background: url(https://hackyourfuture.be/static/hanim-69b9200a8e61079c81f7185a12f6f3c6.jpg)
    0% 0% / cover transparent;
  flex: 0 1 100%;
}

/* text of section5 */

.section5 .h2text {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
}

.section5 .h4 {
  font-size: 18px;
  line-height: 140%;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}

.section5 .x {
  color: #4a50bb;
  font-weight: 600;
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0px 0px 20px;
  white-space: pre-wrap;
  word-break: break-word;
}

.section5 .para {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/* END section5 by Daniel */

/* BEGIN section 6 by Tatsiana */
.sec-6 {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}

.sec-6container {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.sec-6title-cont {
  display: flex;
  width: 100%;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}
.sec-6title {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.hyfmail {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -moz-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: rgb(74, 80, 187);
}
.sec-6img-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.sec-6img {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  flex: 0 1 170px;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 170px;
  z-index: 0;
  position: static;
}
.img-partners {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 0px;
}

/* END section 6 by Tatsiana */

/* BEGIN Section 7 & donation box by Moamin & senait */

.donation-box {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
}

.d-container {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.d-box {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.d-frame {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 80px;
}

.d-text {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 450px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 0px;
  padding: 0px;
}

.d-text1 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.donation-p {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.d-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.d-table:first-child {
  margin-bottom: 20px;
}
.d-table {
  display: flex;
  flex-direction: row;
}

.d-once,
.d-monthly {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 20px;
}
.d-once1,
.d-monthly1 {
  cursor: pointer;
  margin-right: 10px;
}

input[type="radio" i] {
  background-color: initial;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  font: 400 13.3333px Arial;
}

.donation-p1,
.donation-p2,
.message1 {
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.d-table1 {
  display: flex;
  flex-direction: column;
}

.amount1 {
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.amount2 {
  display: flex;
  margin: 20px 0px;
}
ol,
ul {
  list-style: none;
}

.amount3:not(:last-child),
.amount4:not(:last-child) {
  border-right: none;
}

.amount3 {
  display: flex;
  border: 1px solid rgb(28, 34, 148);
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(28, 34, 148);
  font-family: "Work Sans", sans-serif;
}

.amount4 {
  display: flex;
  border: 1px solid rgb(28, 34, 148);
  color: rgb(28, 34, 148);
  padding: 15px 20px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: white;
  font-family: "Work Sans", sans-serif;
}

.value1,
.d-text2 {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(28, 34, 148);
  margin: 20px 0px;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  color: rgb(28, 34, 148);
  background-color: transparent;
  outline: none;
}

.d-button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

/*END section 7 & donation box by Moamin & senait */

/* BEGIN section8 by Daniel */

.containerMap {
  display: flex;
}

.section8 {
  display: grid;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: rgb(74, 80, 187);
  padding: 50px 100px;
}

.input {
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.formlabel {
  color: white;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 20px 0px 5px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.btn-send {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: white;
  color: rgb(45, 48, 55);
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

/* END section8 by Daniel */

/* BEGIN section9/map by Daniel */

.section9 {
  display: inline-block;
  float: right;
  width: 60%;
  justify-content: space-between;
  margin-left: 60px;
}

#mapid {
  height: 704px;
}

/* END section9/map by Daniel */

/*Starting the footer by Moamin*/
.footer {
  height: 200px;
  margin-top: 20px;
  padding-top: 20px;
}

.footer h3 {
  margin: 20px auto;
  font-family: "work sans", "sans";
  color: rgb(28, 34, 148);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.footer p {
  color: black;
  font-family: "Space Mono", monospace;
  text-align: center;
  max-width: none;
  line-break: auto;
  margin: 10px auto;
  line-height: 1.8rem;
  word-break: break-word;
}

.footer nav {
  word-spacing: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer a {
  color: rgb(74, 80, 187);
}

.footer_mail {
  text-align: center;
  height: 50px;
}
.footer_mail a {
  color: black;
  font-family: monospace;
  font-size: 1rem;
  text-decoration: none;
}
/* end of footer by Moamin*/

/* BEGIN apply programme by senait*/

.apply-main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0px auto;
  -webkit-box-flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.apply-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.apply-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.apply-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 45%;
}

.apply-h1 {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: left;
  max-width: none;
}

.apply-p1 {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 10px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.apply-p1 > b {
  display: inline;
  color: rgb(74, 80, 187);
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

.apply-p2,
.apply-p3 {
  text-decoration: underline;
  color: rgb(74, 80, 187);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 10px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.link-apply {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.img-pbox {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.apply-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

/* END apply box by Senait */

/*BEGIN section1 program by Laura */

.section1p {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  flex: 0 0 auto;
}
.section1pcontainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.section1pcontent {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.section1ptitle {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: “Work Sans”, sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.section1pclass1 {
  display: flex;
}

.section1pclass2 {
  padding-right: 100px;
  width: 45%;
}
.section1ptext1 {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: “Space Mono”, monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.section1plist {
  display: flex;
  flex-direction: column;
}
ol,
ul {
  list-style: none;
}

.s1p {
  position: relative;
  padding-left: 30px;
  margin: 3px 0px;
}

.s2p {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: “Space Mono”, monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.s2p > b {
  display: inline;
  color: rgb(74, 80, 187);
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

.s3p {
  position: relative;
  padding-left: 30px;
  margin: 3px 0px;
}
/*END  section1P by Laura*/

/* BEGIN section2 P by Laura */

.sec2pcontainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.sec2pbox {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}
.sec2pbox2 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.sec2pbox3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
}
.sec2ptitle {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.sec2pbox4 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 10px 0px;
  padding: 0px;
}

.sec2plink {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
.sec2pbox5 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 10px 0px;
  padding: 0px;
}
.sec2plink1 {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.sec2pbox6 {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  max-width: 600px;
  flex-wrap: wrap;
}
.sec2pbox6a {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 150px;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 200px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 200px;
  margin: 0px;
  padding: 0px;
}
.sepbox6aa {
  width: 65px;
  height: 60px;
  object-fit: fill;
  border-radius: 0px;
}

.sepbox6aaa {
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.sec2pbox6b {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 150px;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 200px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 200px;
  margin: 0px;
  padding: 0px;
}

.sepbox6bb {
  width: 65px;
  height: 60px;
  object-fit: fill;
  border-radius: 0px;
}

.sepbox6bbb {
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.sec2pbox6c {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 150px;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 200px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 200px;
  margin: 0px;
  padding: 0px;
}

.sepbox6cc {
  width: 65px;
  height: 60px;
  object-fit: fill;
  border-radius: 0px;
}

.sepbox6ccc {
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.sec2pbox6d {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 150px;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 200px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 200px;
  margin: 0px;
  padding: 0px;
}

.sepbox6dd {
  width: 65px;
  height: 60px;
  object-fit: fill;
  border-radius: 0px;
}

.sepbox6ddd {
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.sec2pbox6e {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 150px;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 200px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 200px;
  margin: 0px;
  padding: 0px;
}

.sepbox6ee {
  width: 65px;
  height: 60px;
  object-fit: fill;
  border-radius: 0px;
}

.sepbox6eee {
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.sec2pbox6f {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: 150px;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 200px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 200px;
  margin: 0px;
  padding: 0px;
}

.sepbox6ff {
  width: 65px;
  height: 60px;
  object-fit: fill;
  border-radius: 0px;
}

.sepbox6fff {
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0px 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/* END section2 p by Laura*/

/* section1AB by Daniel*/

.section1AB {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.section1ABtext {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: left;
  max-width: none;
}

/* section2AB by Daniel*/

.section2AB {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
}

.section2ABcontainer1 {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.element1 {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 230px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 230px;
  margin: 0px;
  padding: 0px 20px;
}

.text1 {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 0px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: center;
  max-width: none;
}

/*END section2AB by Daniel*/

/* section3AB by Tatsiana*/
.section3AB {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}
.section3ABcontainer {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.section3ABbox {
  width: 100%;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.section3ABbox-element {
  width: 45%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 53px;
  padding: 40px 50px;
}
.section3AB-image {
  width: 70px;
  height: 70px;
  object-fit: fill;
  border-radius: 0px;
}
.section3ABtitle {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.section3ABtext {
  color: rgb(45, 48, 55);
  margin: 0px;
}

/*END   section3AB by Tatsiana*/

/*BEGIN  section4AB by Tatsiana*/
.section4AB {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  z-index: 1;
  flex: 0 0 auto;
}
.section4ABcontainer {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}
.section4ABcontent {
  width: 100%;
  display: flex;
  margin: 50px 0px;
}
.section4ABtextBox {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  padding: 0px 50px 0px 0px;
  width: 50%;
  order: 1;
}
.section4ABTitle {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.section4ABparagraph {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 470px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  margin-bottom: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.section4ABimgBox {
  display: flex;
  width: 50%;
  height: 100%;
  min-height: 400px;
  order: 2;
  padding: 0px 0px 0px 50px;
  -moz-box-align: stretch;
  align-items: stretch;
}
.section4ABimg {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent
    url(https://raw.githubusercontent.com/HackYourFutureBelgium/hackyourfuture.be/main/src/assets/images/graduation.jpg)
    repeat scroll 0% 0% / cover;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: 100%;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 100%;
  z-index: auto;
  position: relative;
}

/*END   section4AB by Tatsiana*/

/*BEGIN  section4Pa by Tatsiana*/
.section4Pa {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  flex: 0 0 auto;
}
.sect4Pcontainer {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}
.sect4Pcontent {
  width: 100%;
  display: flex;
  margin: 50px 0px;
}
.sect4PcontentBox {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  padding: 0px 50px 0px 0px;
  width: 50%;
  order: 1;
  transform: translateY(-56px);
}
.sect4PTitle1 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.sect4PTitle2 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.sect4PText {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 470px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  margin-bottom: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.section4PBtn {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -moz-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: rgb(74, 80, 187);
}

.sect4Pimgbox {
  display: flex;
  width: 50%;
  height: 100%;
  min-height: 400px;
  order: 2;
  padding: 0px 0px 0px 50px;
  -moz-box-align: stretch;
  align-items: stretch;
}
.sect4Pimg1 {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent
    url(https://raw.githubusercontent.com/HackYourFutureBelgium/hackyourfuture.be/main/src/assets/images/bootcamp.jpg)
    repeat scroll 0% 0% / cover;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: 100%;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 100%;
  z-index: auto;
  position: relative;
}
.sect4PcontentBoxRight {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  padding: 0px 0px 0px 50px;
  width: 50%;
  order: 2;
}
.sect4PTitleRight {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.sect4PTextRight {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 470px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  margin-bottom: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 30;
}
.sect4PimgboxLeft {
  display: flex;
  width: 50%;
  height: 100%;
  min-height: 400px;
  order: 1;
  padding: 0px 50px 0px 0px;
  -moz-box-align: stretch;
  align-items: stretch;
}
.sect4Pimg2 {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent
    url(https://raw.githubusercontent.com/HackYourFutureBelgium/hackyourfuture.be/main/src/assets/images/mentorship.jpg)
    repeat scroll 0% 0% / cover;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: 100%;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 100%;
  z-index: auto;
  position: relative;
}
.sect4Pimg3 {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent
    url(https://raw.githubusercontent.com/HackYourFutureBelgium/hackyourfuture.be/main/src/assets/images/hack-the-talk.jpg)
    repeat scroll 0% 0% / cover;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: 100%;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  max-height: none;
  max-width: none;
  padding: 0px;
  width: 100%;
  z-index: auto;
  position: relative;
}

/* About page , section our team by Moamin*/
.ourteam {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.ourteam h3 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(28, 34, 148);
  margin: 0 40px;
}

.ourteam_coaches {
  display: flex;
  overflow: auto;
  position: relative;
  justify-content: space-between;
}
.ourteam .coach {
  width: 30%;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 53px;
  padding: 20px 40px;
  display: grid;
}
.ourteam h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  margin: 10px auto;
}

.ourteam_title p {
  color: rgb(74, 80, 187);
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}

.ourteampic {
  height: 180px;
  width: 180px;
  filter: grayscale(100%);
  border-radius: 100%;
  margin: 20px auto;
  object-fit: cover;
}

.ourteam a {
  color: rgb(74, 80, 187);
}
.ourteam_icons {
  max-width: 200px;
  margin: 10px auto;
  padding: 50px;
}

/*Section1v by Daniel */

.section1v {
  display: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  background: rgb(248, 249, 252);
  flex: 0 0 auto;
}

.section1vcontainer {
  display: center;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.section1vcontent {
  display: center;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.section1vtitle {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}

.section1vclass1 {
  display: center;
}

.section1vclass2 {
  padding-right: 100px;
  width: 45%;
}

.section1vtext1 {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

.btn-section {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 20px 0px 0px;
  padding: 0px;
}

.style-btn {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
/* End section1V by Daniel */

/* apply button */

.apply-btn {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  margin-left: 20px;
}

/* Start Volunteer page SC2 by Moamin */
.sc-v2 {
  max-width: 1200px;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
}

.sc-v2-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
}

.sc-v2-title {
  display: flex;
  padding: 10px 0;
  margin: 0 2px;
  text-align: center;
}
.sc-v2-title h3 {
  font-family: "Work Sans", sans-serif;
  color: rgb(28, 34, 148);
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 20px;
  text-align: left;
}
.sc-v2-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.sc-v2-sections-content {
  display: flex;
  max-width: max-content;
  margin-right: 20px;
}

.sc-v2 p {
  margin-left: 40px;
  color: rgb(45, 48, 55);
  max-width: 470px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}
.sc-v2-color {
  color: rgb(74, 80, 187);
}

.sc-v2-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: relative;
}
/* end Volunteer page SC2 by Moamin*/

/* media queries for responsiveness by Daniel */

@media (max-width: 1000px) {
  .section1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .img {
    margin: 40px auto;
  }

  .testimonial1 {
    width: auto;
  }

  .titlesc-3 {
    text-align: center;
  }

  .d-box {
    display: block;
    width: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .d-frame {
    width: 100%;
  }

  .containerMap {
    display: block;
  }

  .section8 {
    width: 100%;
  }

  .section9 {
    margin: 0 auto;
    width: 100%;
    float: none;
  }

  .sc-v2 {
    display: block;
  }

  .sc-v2-container {
    flex-direction: row;
  }
}
